        body{
            background: #f0f8ff;
        }
        div{
            width: 75%;
            margin-bottom:20px ;
            border: 1px solid black;
            background: white;
            font-size: 18px;
        }
        .div2{
            color:red;
            border:1px dashed red;
        }
        .ipsum{
            background-color: #fdca96;
            font-weight: bold;
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
        .quis{
            background-color: #fdfd96;
            font-weight: bold;
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
        .hl1{
            color:#f20f5f;
            font-weight:bolder;
        }
        .hl2{
            color:#ffc03f;
            font-weight:bolder;
        }